%header
  %h3 Bem vindo ao sistema de Reserva de Salas do CIC/EST da UnB
%a
  = link_to 'Usuários:', users_path, class: 'nav-link'
  = User.count
  registrados

%div
  %span{:class => "glyphicon glyphicon-off"}
  = link_to 'Sair', destroy_user_session_path, :method=>'delete', class: 'nav-link'
