.container
  .row
    %h3 Usuários
    .column
      %table.table
        %tbody
          - @users.each do |user|
            %tr
              = render user
%div
  %li.nav-item= link_to 'Sair', destroy_user_session_path, :method=>'delete', class: 'nav-link'
