%p
  Ola #{@resource.name},
%p Foi requisitado uma mudanca de senha na sua conta. Se realmente desejar altera-la, clique no link abaixo
%p= link_to 'Redefinir Senha', edit_password_url(@resource, reset_password_token: @token)
%p Se voce nao requisitou esta mudanca, ignore este email.
%p Sua senha somente sera alterada ao clicar no link acima e redefini-la.
