%p
  Olá #{@resource.name},
%p Foi requisitada uma mudanca de senha na sua conta.
%p Se realmente desejar alterá-la, clique no link abaixo:
%hr
%br
%p= link_to 'Redefinir Senha', edit_password_url(@resource, reset_password_token: @token)
%br
%hr
%p Se voce nao requisitou esta mudanca, ignore este email.
%p Sua senha somente será alterada após redefiní-la.
