//%p#notice= notice

%p.row		
  %b.col-md-1 Nome:
  = @recurso.nome
%p.row
  %b.col-md-1 Qtdade.:
  = @recurso.qtd


= link_to 'Editar', edit_recurso_path(@recurso)
\|
= link_to 'Voltar', recursos_path
