.container
  .row
    %h3.sign-in-title Recurso
    %table.table
      %thead
        %th Nome
        %th Quantidade
      %tbody
        %tr
          %td= @recurso.nome
          %td= @recurso.qtd
  
  = link_to 'Voltar', recursos_path, style: 'float: right'
