.container
  .row
    %h3.sign-in-title Sala
    %table.table
      %thead
        %th Nome
        %th Número de Lugares
        %th Disponível
      %tbody
        %tr
          %td= @sala.nome
          %td= @sala.qtd_lugares
          - if @sala.disponivel?
            %td
              %span{:class => 'glyphicon glyphicon-ok', :align => "center"}
          - else
            %td 
              %span{:class => 'glyphicon glyphicon-remove', :align => "center"}
  = link_to 'Voltar', salas_path, style: 'float: right'
