-# navigation styled for Bootstrap 3.0
%header#main-header.clearfix
  %div#header-full.clearfix
    %div#header.clearfix
      = link_to image_tag("logo2.png"), root_path, id: 'logo'
  %nav#nav.clearfix
    %div#nav-container
      %ul#nav-main
        - if not user_signed_in?
          %li.menu{style: 'float: left'}
            = button_to reservas_path, {:method => :get, class: 'button'} do
              Home
        - else 
          %li.menu
            %a{:href => "/reservas"} Home
        - if user_signed_in?    
          %li.menu
            %a{:href => "/reservas?utf8=✓&minhas_reservas=1&commit=Filtrar"} Minhas Reservas
          %li.menu
            %a{:href => "/agendas"} Agenda
          %li.menu
            - if can? :manage, @sala
              %a{:href => "/salas"} Salas
          %li.menu
            - if can? :manage, @recurso
              %a{:href => "/recursos"} Recursos  
          %li.menu
            %a{:href => "/users/edit"} Configurações da conta
          %li.menu
            - if current_user.try(:admin?)
              %a{:href => "/users"} Papéis de Usuário
          %li.menu#out
            = link_to destroy_user_session_path, {:method => :delete} do
              Sair
        - else
          %li{style: 'float: right'}
            = button_to new_user_session_path, {:method => :get, class: 'button alignright'} do
              Login
