-# navigation styled for Bootstrap 3.0
%header#main-header.clearfix
  %div#header-full.clearfix
    %div#header.clearfix
      %a.open-menu{:href => "#nav"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag("logo2.png"), root_path, id: 'logo'
  %nav#nav.clearfix
    %a.close-menu-big{:href => "#"}
    %div#nav-container
      %a.close-menu{:href => "#"}
      %ul#nav-main
        %li.menu
          %a{:href => "/reservas"} Home
        - if user_signed_in?    
          %li.menu
            %a
              = current_user.name
          %li.menu
            %a{:href => "users/edit"} Configurações da conta
          %li.menu
            %a{:href => "/reservas?utf8=✓&minhas_reservas=1&commit=Filtrar"} Minhas Reservas
          %li.menu
            %a{:href => "/agendas"} Agenda
          %li.menu
            - if can? :manage, @sala
              %a{:href => "/salas"} Salas
          %li.menu
            - if can? :manage, @recurso
              %a{:href => "/recursos"} Recursos  
          %li.menu
            %a{:href => "/users/edit"} Editar Conta 
          %li.menu
            = link_to destroy_user_session_path, {:method => :delete} do
              Sair
        - else
          %li{style: 'float: right'}
            = button_to new_user_session_path, {:method => :get, class: 'button alignright'} do
              Login