-# navigation styled for Bootstrap 3.0
.container
  %nav.navbar.navbar-primary
    = link_to image_tag("logo2.png"), root_path, class: 'navbar-brand', style: 'background-color:#ffffff'
    %ul.nav.navbar-nav.clearfix
      %li.nav-item
        = link_to "Reserva de Salas CIC/EST", root_path, class: 'h2', style: 'color:#19367a; background-color:#ffffff'
  %hr
  %ul.nav.navbar-nav= render 'layouts/navigation_links'