-# navigation styled for Bootstrap 3.0
%header#main-header.clearfix
  %div#header-full.clearfix
    %div#header.clearfix
      %a.open-menu{:href => "#nav"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag("logo2.png"), root_path, id: 'logo'
  %nav#nav.clearfix
    %a.close-menu-big{:href => "#"}
    %div#nav-container
      %a.close-menu{:href => "#"}
      %ul#nav-main
        %li.menu
          %a{:href => "/reservas"} Home
        %li.menu
          - if can? :manage, @sala
            %a{:href => "/salas"} Salas
        %li.menu
          - if can? :manage, @recurso
            %a{:href => "/recursos"} Recursos
        - if user_signed_in?    
          %li.menu
            %a{:href => "#"} 
              = current_user.name
              %span.glyphicon.glyphicon-user.pull-right
          %li.menu
            %a{:href => "users/edit"} 
              Configurações da conta
              %span.glyphicon.glyphicon-cog.pull-right 
          %li.menu
            %a{:href => "/reservas?utf8=✓&minhas_reservas=1&commit=Filtrar"}
              Minhas Reservas
              %span.glyphicon.glyphicon-list.pull-right
          %li.menu
            %a{:href => "/agendas"}
              Agenda
              %span.glyphicon.glyphicon-calendar.pull-right
          %li.menu
            %a{:href => "/users/edit"}
              Editar Conta 
              %span.glyphicon.glyphicon-pencil.pull-right
          %li.menu
            = link_to destroy_user_session_path, {:method => :delete} do
              Sair
              %span.glyphicon.glyphicon-log-out.pull-right
        - else
          %li{style: 'float: right'}
            = button_to new_user_session_path, {:method => :get, class: 'button alignright'} do
              Login